--
-- PostgreSQL database dump
--

\restrict 8gMfYooXXZruINeY68vkuAUTaglmSOgJcfreUIwzDrWsgvJAd42XrzdK1pLMKz2

-- Dumped from database version 18.0 (Debian 18.0-1.pgdg13+3)
-- Dumped by pg_dump version 18.0 (Debian 18.0-1.pgdg13+3)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: Enver
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    image_url character varying(255)
);


ALTER TABLE public.categories OWNER TO "Enver";

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: Enver
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO "Enver";

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Enver
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: recipes; Type: TABLE; Schema: public; Owner: Enver
--

CREATE TABLE public.recipes (
    id integer NOT NULL,
    title character varying(100) NOT NULL,
    description text,
    ingredients text,
    instructions text,
    image_url character varying(255),
    video_url character varying(255),
    category_id integer NOT NULL
);


ALTER TABLE public.recipes OWNER TO "Enver";

--
-- Name: recipes_id_seq; Type: SEQUENCE; Schema: public; Owner: Enver
--

CREATE SEQUENCE public.recipes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipes_id_seq OWNER TO "Enver";

--
-- Name: recipes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Enver
--

ALTER SEQUENCE public.recipes_id_seq OWNED BY public.recipes.id;


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: Enver
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: recipes id; Type: DEFAULT; Schema: public; Owner: Enver
--

ALTER TABLE ONLY public.recipes ALTER COLUMN id SET DEFAULT nextval('public.recipes_id_seq'::regclass);


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: Enver
--



--
-- Data for Name: recipes; Type: TABLE DATA; Schema: public; Owner: Enver
--



--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Enver
--

SELECT pg_catalog.setval('public.categories_id_seq', 6, true);


--
-- Name: recipes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Enver
--

SELECT pg_catalog.setval('public.recipes_id_seq', 33, true);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: Enver
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: recipes recipes_pkey; Type: CONSTRAINT; Schema: public; Owner: Enver
--

ALTER TABLE ONLY public.recipes
    ADD CONSTRAINT recipes_pkey PRIMARY KEY (id);


--
-- Name: recipes recipes_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Enver
--

ALTER TABLE ONLY public.recipes
    ADD CONSTRAINT recipes_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 8gMfYooXXZruINeY68vkuAUTaglmSOgJcfreUIwzDrWsgvJAd42XrzdK1pLMKz2

